.project-name-title {
  text-align: center;
}


.projects-container {
  max-width: 700px;
  margin: 0 auto;
}


.project-card {
  padding-left: 4rem;
  /* gap for the arrows */
  padding-right: 4rem;
  /* gap for the arrow */
  color: #f0f0f0;
  border-radius: 12px;
  margin: 1rem 0;
}

.project-text h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #ffffff;
  /* Highlight title */
}

.project-text p {
  margin: 0.5rem 0;
}

.project-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.project-text a:hover {
  color: #000000;
}

.project-content {
  gap: 1.5rem;
}

.project-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.project-text {
  flex: 1;
}


.project-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 150px;
  flex-shrink: 0;
}


.project-image {
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 8px;
}


.projects-container .swiper-button-next,
.projects-container .swiper-button-prev {
  color: #ffffff;
}

.project-card,
.project-image,
.project-text a {
  transition: all 0.3s ease;
}




@media (max-width: 640px) {
  .swiper-button-prev {
    left: -20px;
  }

  .swiper-button-next {
    right: -20px;
  }

  .project-card {
    padding: 1rem;
  }

  .project-content {
    flex-direction: column;
    /* Stack vertically */
  }

  .project-text {
    text-align: center;
  }

  .project-image-wrapper {
    margin-right: 0;
    width: 100%;
    /* Optional: full width on mobile */
  }

  .project-image {
    width: 100%;
    /* Optional: full width on mobile */
    height: auto;
  }
}