.project-name-title {
  text-align: center;
}


.projects-container {
  max-width: 600px;
  margin: 0 auto;
}


.project-card {
  padding-left: 3rem; /* gap for the arrows */
  padding-right: 3rem; /* gap for the arrow */
  margin-bottom: 20px;
  border-radius: 8px;
}


.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.project-text {
  flex: 1;
  padding-right: 16px;
}


.project-image-wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;      
  width: 150px;             
}


.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


.projects-container .swiper-button-next,
.projects-container .swiper-button-prev {
  color: #ffffff;
}





@media (max-width: 640px) {
  .swiper-button-prev {
    left: -20px;
  }

  .swiper-button-next {
    right: -20px;
  }
}

