.project-name-title {
  text-align: center;
}


.projects-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}


.project-card {
  border: 2px solid #ffffff;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 8px;
}


.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.project-text {
  flex: 1;
  padding-right: 16px;
}


.project-image-wrapper {
  display: flex;
  justify-content: center;  
  align-items: center;      
  width: 150px;             
}


.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


@media (max-width: 640px) {
  .swiper-button-prev {
    left: -20px;
  }

  .swiper-button-next {
    right: -20px;
  }
}

