.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}
.page-content h1,
.page-content h2 {
  margin: 0.5rem;
}