.home-page-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}

.home-page-content h1,
.home-page-content h2 {
  margin: 0.5rem 0;
}