/* .contact-name-title {
  color: rgb(255, 255, 255);
  text-align: left;
  width: 100vw;
  position: relative;
  left: 10rem; 
}
.contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin: 0 auto;
  padding: 2rem;
  max-width: 1000px;
  position: relative;
}
.contact-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
}

.contact-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.icon {
    height: 24px;
    width: 24px;
}

h4 {
    margin: 0 auto;
} */