.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(174, 176, 169);
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 5%;
  box-sizing: border-box; /* ensures padding is inside width */
  z-index: 1000;
  overflow-x: auto; /* ensures content is scrollable if it still overflows */
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: white;
}

.navbar a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar a:hover {
  color: #000000;
}
