footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(174, 176, 169);
  color: white;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem 5%; /* <-- matches navbar */
  box-sizing: border-box;
  z-index: 1000;
  position: relative;

    /* start hidden */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%; /* adjust for how short you want it */
  height: 2px;
  background-color: white;
}

footer.visible {
  opacity: 1;
  pointer-events: auto;
}

footer.hidden {
  opacity: 0;
  pointer-events: none;
}


.footer-links {
  display: flex;
  flex-direction: row; /* changed from column */
  gap: 2rem; /* controls spacing between GitHub and LinkedIn */
  flex-wrap: wrap; /* wraps on small screens */
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 0.25rem; /* smaller gap between icon and text */
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.icon {
    height: 24px;
    width: 24px;
}

h4 {
    margin: 0 auto;
}